main {
  margin-left: 30px;
}

.review {
  border: solid black;
  border-radius: 7px;
  margin-left: 9%;
  margin-right: 13%;
  padding-bottom: 5px;
}

.review-header {
  margin-right: 83%;
}
/* .review button {
  padding: 7px 10px;
  border-radius: 7px;
} */

.edit-button {
  margin-left: 82%;
}
