/*  if this is to be white- 
we could just make the background white  */


h2 {
  /* font-size: x-large; */
  margin-left: 100px;

.rental {
  display: flex;
  flex-direction: column;
  height: 265px;
  width: 263px;
  font-size: x-large;
  text-decoration: none;
  /* margin-left: 38px; */
  margin-bottom: 100px;
  border: 4px solid black;
  padding: 1px;
}

.rental-name {
  color: black;
}

.rental-photo {
  width: 215px;
  height:180px;
  margin-left: 0px;
  margin-top: 20px;
}

/* .rental-list {
  background-color: var(--main-bg-color);
  color: var(--black);
} */

.rental-list ul {
  /* list-style: square; */
  list-style: none;
}

.rental-list li {
  padding: 20px;
  /* border: solid black;
  border-radius: 5px; */
}
