.nav {
  display: flex;
  justify-content: center;
  background: pink;
  margin-top: 0px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav li {
  list-style: none;
  padding: 5px;
}

.nav-link {
  color: inherit;
  text-decoration: inherit;
}
