* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: rgb(255, 255, 255);
  --black: #030303;
  --green: #18922B;
}

body {
  background-color: #18922B;
  font-family: 'Times New Roman', Times, serif;
  min-height: 100dvh;
  margin: 0;
  height: 100%;
  width: 100%;
}

h1 {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  font-size: 48px;
  align-items: center;
  display: flex;
  justify-content: center;
}


button {
  font-size: 1.25em;
  background-color: pink;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 2cm;
  margin: 5px 5px 5px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
