* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: rgb(255, 255, 255);
  --black: #030303;
  --green: #1EC337;
}

body {
  background-color: white;
  /* Use a system font; if none are available, use an available sans-serif font */
  font-family: system-ui, sans-serif;
  /* Ensures full height compatibility across devices */
  min-height: 100dvh;
  margin: 0;

}

/* button {
  
} */
