/* h1 {
  display: inline-block;
} */

.rental-section img {
  margin-left: 39%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rental-section button {
  margin-left: 43%;
}

.button-div {
  display: flex;
  margin-left: 80%;
}

.review-section h2 {
  font-size: 32px;
}

.review-list {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 20%;
}

.review {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  margin: 0;
}

.review-text {
  font-size: 23px;
}

.review-username {
  margin-right: 75%;
  font-size: 20px;
  font-weight: bold;
}

.rev-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
